<div class="content">

  <h2>Update Event</h2>

  <form action="/events" method="post">
    <label for="name">Event Name:</label>
    <input type="text" name="name" value="<%= @event.name %>"><br>

    <label for="gold_athlete_id">Gold Medal Winner:</label>
    <select name="gold_athlete_id">
      <% @athletes.each do | athlete | %>
        <option value="<%= athlete.id %>"><%= athlete.name %></option>
      <% end %>
    </select><br>

    <label for="silver_athlete_id">Silver Medal Winner:</label>
    <select name="silver_athlete_id">
      <% @athletes.each do | athlete | %>
        <option value="<%= athlete.id %>"><%= athlete.name %></option>
      <% end %>
    </select><br>

    <label for="bronze_athlete_id">Bronze Medal Winner:</label>
    <select name="bronze_athlete_id">
      <% @athletes.each do | athlete | %>
        <option value="<%= athlete.id %>"><%= athlete.name %></option>
      <% end %>
    </select><br>

    <input type='submit' value="Update Event">
  </form>

</div>
