<h3>Registered Events</h3>

<table>
  <thead>
    <th>Event Name</th>
    <th>Gold Medal Winner</th>
    <th>Silver Medal Winner</th>
    <th>Bronze Medal Winner</th>
  </thead>
  <tbody>
    <% @events.each do | event | %>
      <tr>
        <td> <a href="events/<%= event.id %>"><%= event.name %></a> </td>
        <td> <a href="athletes/<%= event.gold_medal_athlete.id %>"><%= event.gold_medal_athlete.name %></a> </td>
        <td> <a href="athletes/<%= event.silver_medal_athlete.id %>"><%= event.silver_medal_athlete.name %></a> </td>
        <td> <a href="athletes/<%= event.bronze_medal_athlete.id %>"><%= event.bronze_medal_athlete.name %></a> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<a href="/events/new"><button type="button">Register Event</button></a>
