<table>
  <thead>
    <th>Rio Olympics Medal Table</th>
    <tr>
      <th>Nation</th>
      <th>Gold Medals</th>
      <th>Silver Medals</th>
      <th>Bronze Medals</th>
      <th>Total Points</th>
    </tr>
  </thead>
  <tbody>
  <% @medal_table.nations.each do |nation| %>
    <tr>
      <td><img src="<%= @medal_table.display_flag( nation ) %>" class="flag"></image> <%= @medal_table.display_acronym( nation ) %> <%= @medal_table.display_name( nation ) %> </td>
      <td> <%= @medal_table.display_gold_medal_count( nation ) %> </td>
      <td> <%= @medal_table.display_silver_medal_count( nation ) %> </td>
      <td> <%= @medal_table.display_bronze_medal_count( nation ) %> </td>
      <td> <%= @medal_table.total_points( nation ) %> </td>
    </tr>
  <%end%>
  </tbody>
</table>
