<h1>Team <%= @nation.name %></h1>
<ul>
  <h3>Olympic Team</h3>

  <% @nation.athletes.each do |athlete| %>
    <ul><a href="/athletes/<%= athlete.id %>"><%= athlete.name %></a></ul>
  <% end %>
</ul>

<a href="/nations/<%= @nation.id %>/edit">Edit Nation</a>
<a href="/athletes/new">Register Athlete</a>

<form action="/nations/<%= @nation.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Nation">
</form>
