<h2>Registered Athletes</h2>

<table>
  <thead>
    <tr>
      <th>Athlete Name</th>
      <th>National Team</th>
    </tr>
  </thead>
  <tbody>
    <% @athletes.each do |athlete| %>
      <tr>
        <td> <a href="/athletes/<%= athlete.id %>"><%= athlete.name %></a> </td>
        <td> <a href="/nations/<%= athlete.nation.id%>"><%= athlete.nation.acronym %> <img src="<%= athlete.nation.flag %>" class="flag"></image></a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<a href="/athletes/new"><button type="button">Register Athlete</button></a>
